{% extends 'base.html' %}

{% block title %}Alterar a Senha{% endblock title %}

{% block content %}
    <h1>Alterar a senha</h1>
    <p>Por favor, digite sua senha antiga, por questão de segurança, e depois digite sua
        nova senha duas vezes para que possamos verificar se você a digitou corretamente.
    </p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Alterar minha senha" class="btn btn-success">
    </form>
{% endblock content %}

